@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5FAF8;
    color: #364B44;
    font-family: 'Exo', sans serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header section */

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    padding: 10px;
    max-width: 300px;
}

#menu li {
    display: flex;
    align-items: center;
}

#menu a {
    color: #364B44;
    font-size: 130%;
    margin-bottom: 5%;
    display: inline-block;
    font-family: 'Catamaran', sans serif;
    cursor: pointer;
}

#menu a:hover {
    border-bottom: 2px solid #F98383;
    border-radius: 10px;
}

.active {
    border-bottom: 2px solid #F98383;
    border-radius: 10px;
}

nav {
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 40px;
    padding: 10px;
}


/* Main section */

main {
    flex: 1 0 auto;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header section */
    nav {
        display: block;
        position: relative;
        padding-right: 10px;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 10px;
    }

    .nav-toggle-label {
        display: none;
    }
}