@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5FAF8;
    color: #364B44;
    font-family: 'Exo', sans serif;
}

main {
    flex: 1 0 auto;
}