@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5FAF8;
    color: #364B44;
    font-family: 'Exo', sans serif;
}

img {
    width: 100%;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header section */

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5FAF8;
}

#logo {
    padding: 10px;
    max-width: 300px;
}

#menu li {
    display: flex;
    align-items: center;
}

#menu a {
    color: #364B44;
    font-size: 130%;
    margin-bottom: 5%;
    display: inline-block;
    font-family: 'Catamaran', sans serif;
    cursor: pointer;
}

.active {
    border-bottom: 2px solid #F98383;
    border-radius: 10px;
}

nav {
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
    background-color: #F5FAF8;
    box-shadow: 0 2px 2px #85B5A4;
    border-radius: 10px;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 40px;
    padding: 10px;
}


/* Main section */

main {
    flex: 1 0 auto;
    margin-top: 87px;
    width: 95%;
}

#hero {
    height: 200px;
    width: 100%;
    background-image: url("../images/hero_image.jpg");
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

.page-heading {
    display: none;
}

.text h2 {
    font-family: 'PT Serif', serif;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #85B5A4;
}

.text p {
    padding: 5px;
    line-height: 1.5;
    text-align: justify;
    text-indent: 15%;
}

section img {
    margin-bottom: 10px;
}

/* Gallery page */

.gallery-heading {
    color: #364B44;
    font-size: 130%;
    margin-bottom: 5%;
    font-family: 'Catamaran', sans serif;
    text-align: center;
    text-shadow: 1px 1px 2px #85B5A4;
}

#gallery {
    margin-bottom: 10px;
}

.image-box {
    position: relative;
}

.nickname {
    position: absolute;
    top: 0;
    left: 30px;
    background-color: #85B5A4;
    width: fit-content;
    padding: 20px 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.9;
    box-shadow: 2px 2px 2px #364B44;
}

h3 {
    color: #F5FAF8;
    text-shadow: 1px 1px 2px #364B44;
    font-family: 'PT Serif', serif;
    font-style: italic;
}

/* Contact section */
#contact {
    padding: 5%;
}

#contact-form {
    
}

fieldset {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

legend {
    font-family: 'Catamaran', sans serif;
    font-size: 120%;
}

.text-input {
    margin: 5px auto 10px;
    color: #364B44;
    background-color: transparent;
    border-radius: 5px;
    padding: 2%;
    border-color: #364B44;
}

.text-input:focus {
    background-color: #85B5A4;
    color: #F5FAF8;
}

.form-button {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 120%;
    font-weight: bold;
    background-color: #364B44;
    border: 3px solid #364B44;
    border-radius: 10px;
}

.form-button > a {    
    color: #F5FAF8;
}

/* Footer section */
footer {
    background-color: #364B44;
    color: #F5FAF8;
    width: 100%;
    text-align: center;
    padding: 10px 10px 20px;
}

h4 {
    padding: 10px;
    font-family: 'Catamaran', sans serif;
    font-size: 120%;
}

#links-icons a, #links-icons i {
    color: #F5FAF8;
}


/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {    
    /* Footer section */
    footer {
        display: flex;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header section */
    nav {
        display: block;
        position: relative;
        padding-right: 10px;
        width: fit-content;
        box-shadow: none;
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 15px;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main section */
    #hero {
        background-position: 75%;
    }

    .left {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 20px;
    }

    .right {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .text {
        width: 60%;
        align-self: center;
    }

    .picture {
        width: 30%;
        align-self: center;
    }

    /* Gallery page */
    #photos {
        column-count: 2;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 2px solid #F98383;
        border-radius: 10px;
    }
}

/* Larger devices (laptops and desktops, 1024px and up) */
@media screen and (min-width: 1024px) {
    /* Main section */
    #hero {
        height: 300px;
    }

    .desktop-view {
        display: flex;
        flex-wrap: wrap;
    }

    .left, .right {
        flex-basis: 40%;
        flex-grow: 1;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .text {
        width: 90%
    }
    
    .picture {
        width: fit-content;
        height: 400px;
        align-items: center;
        margin-bottom: 10px;
    }

    .picture img {
        height: 100%;
    }

    
    /* Gallery page */
    #photos {
        column-count: 3;
    }
}

@media screen and (min-width: 1600px) {
    #photos {
        column-count: 4;
    }
}